.DS_Store
/.quarto/
/_book/
**/*.quarto_ipynb

# Archivos auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Documento generado por Quarto
/Una-prueba-transicional-de-la-confluencia-de-la-reducción-*.tex
